body{background-color: black;}

h1 {color: white;}

.p1 {text-align: center; font-size: 200%; 
    border-style: groove;border-color: beige;}

.p2 {text-align: right; font-size: 125%;}

.p3{text-align: center; font-size: 150%; 
    color: brown; border-style:dashed; 
    border-color: bisque;}

.p4 {text-align: left; border-style:
     groove; border-color: brown;}

.p5 {text-align: 
    center; size: 123%; color: coral;}